<!DOCTYPE html>
<html>
  <head>
    <title>DemoEsme</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	  
       
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

      <header>
        <nav>
            <ul class="nav nav-tabs"> 
                <li>
                    <%= link_to "Inicio", root_path %>
                </li>
                <%#saber si el usuaeio esta loegueado%>
                <% if usuario_signed_in? %>
                    <li>
                    <%#editar pefil current_usuario para saber el usuario actual%>
                        <%= link_to "Editar Perfil", edit_usuario_registration_path(current_usuario) %>
                    </li>
                    <li>
                        <%#para destruir session es necesario llamar el metodo (method: :delete)%>
                        <%= link_to "Cerrar Sesion", destroy_usuario_session_path, method: :delete %>
                    </li>
                <% else %>
                <%#esto se hace en caso de que no este logueado el usuario%>
                    <li>
                        <%= link_to "Ingresar", new_usuario_session_path %>
                    </li>
                    <li>
                        <%= link_to "Registrarse", new_usuario_registration_path%>
                    </li>
                <% end %>
            </ul>
        </nav>
      </header>

    <%= yield %>
  </body>
</html>
